
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Big+Shoulders+Display:wght@800&family=Fraunces:opsz,wght@9..144,700;9..144,800&family=Kumbh+Sans:wght@600;800&family=League+Spartan:wght@500;600;800&family=Lexend+Deca:wght@200&family=Roboto&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Big+Shoulders+Display:wght@800&family=Fasthand&family=Fraunces:opsz,wght@9..144,700;9..144,800&family=Kumbh+Sans:wght@600;800&family=League+Spartan:wght@500;600;800&family=Lexend+Deca:wght@200&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    
    overflow-y: hidden;
    
    overflow-x: hidden;
    
    background-color: #fdfaf6;
    border-top: 10px ridge #89c8c2;
 
}

.menu
{
   color: rgb(44, 0, 0);
    font-size: 4vw;
    position: relative;
    top:  5vh;
    font-family: 'Fasthand', cursive;
    left: 44vw;
   
}

#item1
{
    background-image: url('main\ course.jpg');
    
}
#item2
{
    background-image: url('samosa.avif');
}
#item3
{
    background-image: url('desert.jpeg');
}
.images
{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 20vw;
    height: 18.5vw;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   position: relative;
   top: 8vh;
  
}
.menuitems
{
 display: flex;
 flex-direction: column;
 display: inline-flex;
 gap: 4vh;
 border: 1px solid bisque;
 width: 20vw;
 height: 32vw;
 /* border-radius: 80px; */
 box-shadow:  8px 7px 6px 0px rgb(250, 241, 230);
 box-shadow: inset 1px -2px 48px 1px rgb(250, 241, 230)
 
}
.text
{
    width: 20vw;
   
    text-align: center;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    line-height: 3vh;
}
.viewmore
{
    width: 10vw;
    height: 4vw;
     position: relative;
     top: 4vh;
     border: none;
     background-color: rgb(250, 241, 230);
     border-radius: 45px;
     font-family: 'Roboto', sans-serif;
    color:  rgb(44, 0, 0);
    font-weight: bold;
    font-size: 1vw;
 
}
.viewmore a{
    text-decoration: none;
    color:  rgb(44, 0, 0);
}
a:visited
{
    text-decoration: none;
    color:  rgb(44, 0, 0);
}
a:active
{
    text-decoration:none ;
    color:  rgb(44, 0, 0);
}
a:link{
    text-decoration: none;
    color:  rgb(44, 0, 0);
}
a:hover{
    color: maroon;
}
.viewmore:hover
{

    background-color: burlywood;
   color: maroon;
}
h5{
    margin-top: -4.2vh;
    margin-bottom: 2.5vh;
    font-size: 2.5vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:  rgb(44, 0, 0);
    background-color:#e2c39a;
    padding: 1vh;
}